.container {
  display: flex;
  flex-direction: row;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: $color-background-black;
  padding-top: 256px;
  padding-left: 26px;
  padding-right: 26px;
  &__icon img {
    border-radius: 6px;
  }
}
